.App {
  text-align: left;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  font-size: 17px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.Container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Picture {
  display: block;
  margin-top: 10em;
}

.About-me {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 100px 100px;
  place-items: center;
}

.Parent {
  display: flex;
  grid-column: 2 / 5;
}

.Child {
  display: block;
}

.Is-humane {
  font-size: 30px;
  margin: 0;
}

.Title {
  margin-top: 0;
  margin-bottom: 2em;
}

.Hire {
  font-size:x-small;
}